body {
  margin: 0;
}

.react-wavy-transitions__waves {
  position: fixed;
  z-index: 9999;
  top: -200%;
  left: 0;
  width: 100%;
  height: 200%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  animation: move-down 1.5s infinite ease-in-out;
}

.react-wavy-transitions__top,
.react-wavy-transitions__bottom {
  flex: 1 1 50%;
}

.react-wavy-transitions__bottom {
  rotate: 180deg;
}

@keyframes move-down {
  100% {
    translate: 0 100%;
  }
}
