body {
  margin: 0;
}

.react-wavy-transitions__top,
.react-wavy-transitions__bottom {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 800px;
  height: 100%;
}

.react-wavy-transitions__top {
  top: 2px;
  translate: 0 -200%;
  animation: top-move 1.5s infinite ease-in-out;
}

.react-wavy-transitions__bottom {
  rotate: 180deg;
  translate: 0 -100%;
  animation: bottom-move 1.5s infinite ease-in-out;
}

@keyframes top-move {
  100% {
    translate: 0 0;
  }
}

@keyframes bottom-move {
  100% {
    translate: 0 100%;
  }
}

.react-wavy-transitions__wavy-link {
  background: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}
